<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-Z16JMn8fokk2Z8ixRGlmodcRwVRmJgc</string>
	<key>GCM_SENDER_ID</key>
	<string>825988138895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProyekUas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-mobile-7dc8a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-mobile-7dc8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825988138895:ios:4174876be05cc5c668adfa</string>
</dict>
</plist>